.button {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 0 gray;
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--primary-color-text);
  white-space: nowrap;
  font-weight: bold;
}

.button:hover {
  color: var(--secondary-text-color);
  box-shadow: 0 0 5px 0 gray;
}

.button-primary {
  background: var(--primary-color);
}

.button-primary:hover {
  background: var(--primary-700);
}

.button-secondary {
  color: var(--secondary-text-color);
  background: var(--secondary-color);
}

.button-secondary:hover {
  color: var(--primary-color-text);
  background: var(--secondary-hover-color);
}

.button-buynow {
  color: #fff;
  background-color: #b3a373; /*specially written to follow ticket 2u*/
}

.button-buynow:hover {
  color: #fff;
  background-color: #212529;
}

@media (max-width: 960px) {
  .button {
    padding: 0.75rem;
  }
}
