.nav {
  background: var(--primary-700);
  color: var(--primary-color-text);
}

.nav a[role="menuitem"] {
  text-decoration: none;
  color: var(--primary-color-text);
  padding: 10px;
}

.menu .home-logo {
  padding: 10px;
}

.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  background: var(--primary-700);
}

.menu ul > li {
  padding: 5px 0;
}

.menu a[role="menuitem"]:hover {
  color: var(--primary-hover-text);
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  gap: 0.5rem;
}

.hamb {
  cursor: pointer;
  padding: 40px 0;
}

.hamb-line {
  background: var(--primary-color-text);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--primary-color-text);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamb-line::before {
  top: 8px;
}
.hamb-line::after {
  top: -8px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .mobile-menu .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .mobile-menu .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .mobile-menu .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.subnav-content {
  width: 100%;
  z-index: 1;
  padding: 20px 0;
  display: none;
  box-shadow: 8px 8px 8px -8px black;
  border-radius: 0 0 4px 4px;
}
.subnav:hover .subnav-content {
  display: block;
}

@media (max-width: 960px) {
  .menu .top-menu-link {
    /*prevents user click on href*/
    pointer-events: none;
    cursor: default;
  }

  .subnav-content {
    box-shadow: none;
  }

  .menu ul {
    margin-left: 4rem;
  }

  .menu .non-mobile-menu {
    display: none;
  }

  header:has(.side-menu:checked) {
    position: sticky;
    top: 0;
  }
}

@media (min-width: 960px) {
  .nav {
    padding: 0 2rem;
    z-index: 999;
  }

  .menu {
    max-height: none;
    top: 0;
    position: static;
    overflow-y: hidden;
  }

  .menu > ul {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .mobile-menu {
    display: none;
  }

  .subnav:hover .subnav-content {
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
    padding: 20px 10px;
    background: var(--primary-700);
  }

  .subnav-content > ul {
    margin: 0;
  }

  .menu > ul li:last-child {
    margin-left: auto;
  }
}
