.five-pillars div {
  margin-top: 2rem;
}

.five-pillars div p {
  margin-top: 0.5rem;
  margin-left: 1.25rem;
}

.about-us p {
  margin-top: 0.5rem;
}

.about-us p ~ p {
  margin-top: 2rem;
}

.research figure {
  display: flex;
}

.research figure figcaption,
.research figure img {
  flex: 1;
  text-align: left;
}
