.rental figure {
  padding: 1rem 0;
  border-bottom: 1px solid;
  display: grid;
  grid-template-columns: 150px 1fr;
  text-align: left;
  gap: 0.5rem;
}

.rental figure figcaption {
  margin-top: 0.5rem;
}

.rental figure figcaption p {
  margin-top: 0.5rem;
}

@media (max-width: 960px) {
  .rental figure {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
  .rental figure img {
    margin: auto;
  }
}
