body > header {
  box-shadow: 1px 1px 5px 0px var(--gray);
  width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 950px;
  margin: 3rem auto;
  padding: 0;
}
main.no-margin-y {
  margin: 0 auto;
}

main > article, main > section {
  padding: 1.5rem 1rem;
}

.arrow {
  border: solid var(--primary-color-text);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.arrow.black {
  border-color: black;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

button.no-style,
input[type="submit"].no-style,
input[type="reset"].no-style {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.close {
  cursor: pointer;
  display: block;
  height: 2px;
  position: absolute;
  width: 24px;
  top: 50%;
  left: 50%;
}

.close::before,
.close::after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.close::before {
  transform: rotate(-45deg);
}
.close::after {
  transform: rotate(45deg);
}

.secondary-border {
  border-color: var(--yellow-500);
}

article.primary {
  color: var(--primary-color-text);
  background-color: var(--primary-color);
}

:root {
  --secondary-color: var(--yellow-500);
  --secondary-hover-color: var(--yellow-700);
  --secondary-text-color: black;
  --primary-hover-text: var(--primary-900);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
