@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body>header {
  box-shadow: 1px 1px 5px 0px var(--gray);
  width: 100%;
  z-index: 999;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  animation: slow_display 0.1s linear;
}

@keyframes slow_display {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/* main */
main {
  display: flex;
  flex-direction: column;
  max-width: 950px;
  margin: 0 auto;
  animation: slow_display 0.5s linear;
}

main.no-margin-y {
  margin: 0 auto;
}

main>article,
main>section {
  padding: 1.5rem 1rem;
}

main h1 {
  margin: 1rem 0;
}

/* main -end */

/* table */
table {
  border-bottom: 1px solid;
}

tbody tr:nth-child(even) {
  background-color: var(--bluegray-100);
}

tbody tr:hover {
  background-color: var(--bluegray-300);
}

thead {
  background-color: var(--bluegray-600);
  color: white;
  text-align: left;
}

th,
td {
  padding: 0.75rem;
}

/* table -end */

.arrow {
  border: solid var(--primary-color-text);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.arrow.black {
  border-color: black;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

button.no-style,
input[type="submit"].no-style,
input[type="reset"].no-style {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.close {
  cursor: pointer;
  display: block;
  height: 2px;
  position: absolute;
  width: 24px;
  top: 50%;
  left: 50%;
}

.close::before,
.close::after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.close::before {
  transform: rotate(-45deg);
}

.close::after {
  transform: rotate(45deg);
}

.secondary-border {
  border-color: var(--yellow-500);
}

article.primary,
section.primary {
  color: var(--primary-color-text);
  background-color: var(--primary-700);
}

.anchor-link-header {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* slick carousel button */
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
  color: var(--primary-700);
}

/* for htmlConvertor */
a.underline {
  text-decoration: underline;
}

/* font awesome */
svg[data-icon="ticket"] {
  transform: rotate(-45deg);
}

/* to hide from aria */
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px,
      1px,
      1px,
      1px);
  /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%);
  /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap;
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}