.announcement {
  background-color: var(--yellow-500);
  color: black;
  text-align: center;
  padding: 20px;
}

.announcement .arrow {
  border: solid black;
}

.announcement span {
  padding: 10px;
}
